.logo {
  color: rgb(219, 145, 87);
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif
}

.form1 {
  float: right;
  margin-top:auto;
}

.barra {
  background-color: rgb(1, 1, 148)  ;
  height: 40px;
  margin: 0;
}

.cuadro1 {
  width: 150px;
  border: solid 1px rgb(36, 35, 35);
  margin: 15px;
  padding: 5px;
  background-color: rgb(171, 171, 171, 0.2);
}


.cuadro2 {
  border:dotted 2px rgba(255, 81, 0, 0.788);
  width: 150px;
  margin: 15px;
  padding: 5px;
  background-color: rgb(255, 247, 206);
}

.img1 {
  width: 150px;
  height: 150px;
  float: left;
  margin:5px;
}


.division1 {
  float: left;
  width: 150px;
  margin:10px;
  margin-top: 0;
}

.division3 {
  float: left;
  width: 170px;
  margin:5px;
  border: solid 1px rgb(219, 145, 87);
  padding: 5px;
}

.division2 {
  float: left;
  width: 600px;
  margin:15px;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  padding: 10px;
  background-color: rgb(219, 145, 87);
  margin-top: 0px;
  margin-bottom: 0;
}
body {
  margin: 5px;
}

.reducc {
  margin-top: 0;
}

.letra {
  font-size: 20px;
}
.division4 {
  border: solid 1px rgba(216, 216, 216, 0.877);
  float: left;
  width: 90%;
  margin: 10px;
  padding: 10px;
  margin-top: 0;
  text-align: center;
}

.izq {
  float: left;
  margin: 4px;
}

.der {
  float: right;
}